/* Reset Stylesheet */
* {
    border: 0;
    padding: 0;
    margin: 0;
}


body {
    width: 125%;
    background-image: url('../images/brick.jpg')
    
}

header {
    text-align: center;
    width: 80%;
    
}

header p {
    font-family: sans-serif;
    font-size: 30px;
    color: #130899;
    padding-bottom: 3%;
    
}

header h2 {
    float: right;
    color: gray
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #130899;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 8%;
}

nav ul li{ 
    list-style-type: none;
    padding-bottom: 1%;
    padding-top: 1%;
}

nav ul li a:hover {
color: black;
}


main {
    width: 100%;
    
}

nav {
    width: 20%;
    float: left;
}

section {
    width: 80%;
    padding-top: 10px;
    font-family: arial;
    
}

section h1{ 
    color: black;
    font-family: arial;
    padding-bottom: 3%;
    
}

p {
    font-family: arial;
    line-height: 22px;
}

footer {
    
    color: #130899;
    
}
footer h2 {
    float: left;
    width: 20%;
    padding-top: 30%;
    padding-right: 20%;

}
footer h3 {
    float: right;
    width: 20%;
    padding-top: 30%;
    padding-right: 20%;
}


   