/* Reset Stylesheet */
* {
    border: 0;
    padding: 0;
    margin: 0;
}
body {
    width: 110%;
    background-image: url('../images/relationship.jpg')
    
}
header  {
    text-align: center;
    width: 90%;
    
}
header h1 {
    font-family: sans-serif;
    font-size: 70px;
    color: black;
    padding-bottom: 2%;
}

nav ul li a {
    text-decoration: none;
    color: #130899;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 8%;
}
nav ul li { 
    list-style-type: none;
    padding-bottom: 1%;
    padding-top: 1%;
}
nav ul li a:hover {
    color: black;
    }

    nav {
        width: 20%;
        float: left;
    }

section {
    font-family: sans-serif;
    color: black;
    font-size: 25px;
    
    }
section {
    text-align: center;
}     

section {
        width: 50%;
        float: left;
    }
    footer {
    
        color: #130899;
        
    }

footer h2 {
    float: left;
    width: 20%;
    padding-top: 20%;
    padding-right: 20%;

}
footer h3 {
    float: right;
    width: 20%;
    padding-top: 20;
    padding-right: 20%;
}